.forbidden-words * {
    color: white;
}

.forbidden-words {
    max-height: 500px;
    overflow-y: scroll;
}

.td-action {
    margin: 0 5px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttons-container__button {
    margin: 5px;
}