.server-card {
  width: 22vw;
  height: 70px;
  color: white;
  margin: 20px 1vw;
  background-color: rgb(99, 99, 99);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s ease-out;
  font-weight: bold;
  text-decoration: none;
}

.server-card:hover {
  background-color: rgb(255, 60, 60);
  cursor: pointer;
}

.servers-container {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-wrap: wrap;
  padding: 1vw;
  justify-content: center;
}
