.servers-container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.server-card {
    background-color: orange;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 200px;
    box-sizing: border-box;
    cursor: pointer;
}