PORT=8080

REACT_APP_API_URL=http://localhost:8000/api/v1
REACT_APP_DISCORD_API_URL=https://discord.com/api
REACT_APP_CLIENT_ID=DISCORD_CLIENT_ID
REACT_APP_CLIENT_SECRET=DISCORD_CLIENT_SECRET
REACT_APP_PORT=8080

